/*
    Nothing interesting here, Just the junk for the demo page.
*/

body {
    padding-top: 50px;
}
#sidebar {
    position: absolute; top: 20px; left: 20px; font-size: 32px;
}
.row {
    margin-bottom: 10px;
}
.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}
.show-grid [class*="one"],
.show-grid [class*="two"],
.show-grid [class*="three"],
.show-grid [class*="four"],
.show-grid [class*="lg"],
.show-grid [class*="md"],
.show-grid [class*="sm"],
.show-grid [class*="xs"] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    line-height: 30px;
    border: 1px dashed rgba(86, 61, 124, 0.2);
}
.show-grid [class*="md"]:hover,
.show-grid [class*="xs"]:hover {
    background-color: #ccc;
}
.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.show-grid .show-grid [class*="md"] {
    margin-top: 5px;
}
.show-grid [class*="md"] [class*="md"] {
    background-color: #ccc;
}
.show-grid [class*="md"] [class*="md"] [class*="md"] {
    background-color: #999;
}
.show-grid span {
    background: rgba(50, 50, 50, 0.05);
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.large {
    margin: 100px 0 30px 0;
}

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #999;
    border: 0 rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}