body {
    padding-top: 40px;
}
#sidebar {
    position: absolute; top: 20px; left: 20px; font-size: 32px;
}

.row {
    margin-bottom: 10px;
}
.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}
.show-grid [class*="one"],
.show-grid [class*="two"],
.show-grid [class*="three"],
.show-grid [class*="lg"],
.show-grid [class*="md"],
.show-grid [class*="sm"],
.show-grid [class*="xs"] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
    border: 1px solid rgba(86, 61, 124, 0.2);
}
.show-grid [class*="md"]:hover {
    background-color: #ddd;
}
.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}
.show-grid .show-grid [class*="md"] {
    margin-top: 5px;
}
.show-grid [class*="md"] [class*="md"] {
    background-color: #ccc;
}
.show-grid [class*="md"] [class*="md"] [class*="md"] {
    background-color: #999;
}