@media (min-width: 1200px) {
  body { border-top: 3px solid blue; }
}

@media only screen and (min-width: 960px)  and (max-width: 1199px) {
  body { border-top: 3px solid purple; }
}

@media only screen and (max-width: 959px) {
  body { border-top: 3px dashed green; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  body { border-top: 3px solid green; }

}

@media only screen and (max-width: 767px) {
  body { border-top: 3px dashed red; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body { border-top: 3px solid red; }
}

@media only screen and (max-width: 479px) {
  body { border-top: 3px solid orange; }
}